<plugin name='scala' version='0.4' grailsVersion='1.1 &gt; *'>
  <author>Vaclav Pech</author>
  <title>Scala Plugin</title>
  <description>\
Compiles Scala sources located under src/scala and src-java before grails kicks in with the grails compilation
</description>
  <documentation>http://grails.org/Scala+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>